*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{

  font-size: 62.5%;

}

body{

  font-size: 2.4rem;
  background: var(--color-gray-1);
  color: var(--color-primary-dark);

}

h1, h2, h3, h4, h5, h6{

  font-family: var(--font-heading);

}

.container{

  max-width: 1440;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium)
  

}

.main-logo{

  text-decoration: none;
  font-size: 40px;
  color: var(--color-white);
  display: flex;
  height: 100px;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  
 
}

.main-logo-icon{

  margin-right: 20px;
}

.main-header-container{

  background: var(--color-primary-dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 

}


.main-content-container {
  background: none;
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: var(--spacing-gutter-large);
}

.recipe{

  background: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  background: var(--color-gray-0);
  border-radius: 4px;
  overflow: hidden;  

}

.recipe img{

  max-width: 100%;

}

.recipe-list-item{

  max-width: 640px; 

}

.recipe:hover{

  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.recipe-title-container{
  padding: var(--spacing-gutter-medium);
  padding-bottom: calc(var(--spacing-gutter-medium) / 20);

}

.recipe-author{

  padding: 0 var(--spacing-gutter-medium);

}

.author-item{


  font-size: 10px;
  color: var(--color-gray-3);

}

.recipe-content{

  padding: 0 calc(var(--spacing-gutter-medium) /1.1);
  font-size: 60%;

}

.recipe-meta-container{

  display: flex;
  flex-flow: row wrap;
  background: var(--color-gray-1);
  padding: calc(var(--spacing-gutter-medium) / 2) ;

}

.recipe-meta-text{

  font-size: 70%;

}

.recipe-meta{

  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;

}

.recipe-footer a{

  margin-top: auto;
  background: var(--color-primary-dark);
  color: white;
  display: block;
  text-decoration: none;
  border-radius: 6px;
  text-align: center;
  font-size: 90%;
  

}