.main-search-container{

  padding-top: 20px;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;

}

.main-search-form{

  position: relative;
  max-width: 640px;
  border: 2px solid var(--color-black);
  border-radius: 4px;

}

.search-button, 
.search-box {

  outline: none;
  background: none;
  border: none;

}

.search-button:hover{

  outline: 1px solid var(--color-primary);
  background: rgba(0, 0, 0, .4);


}