body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-gray-1);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-color: var(--color-gray-1);
}

.main-form {

    display: block;
    background-color: var(--color-gray-1);
    border-radius: 12px;
    width: 90%;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    text-align: center;
}


h1 {
    color: #333;
    font-family: var(--font-heading);
}


h4 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    opacity: 0.3;
    color: #333;

}

h5{

    text-align: left;
    color: #e74c3c;
    font-size: 12px;
    opacity: 0.3;

}

hr {
    border: 0.5px solid #ddd;
    color: #333;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

a{

  font-family: Arial, sans-serif; 
  text-decoration: none;
  color: var(--color-primary-dark); 


}

.password-content {
  display: flex;
  align-items: center;
}

input[type="password"] {
  width: calc(100% - 30px);
  padding-right: 30px;
}




input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background: none;   
    margin: 10px 0;
    transition: border-color 0.3s ease;
    outline: none;
    background-color: none;
}


.password-content{

  border: 2px solid;
  border-radius: 8px;
 
}

button {

    background-color: var(--color-primary-dark); 
    color: #fff; 
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05); 
}

@media screen and (max-width: 768px) {
    .formulario {
        width: 90%;
        padding: 20px;
    }

    h4 {
    
        text-align: center; 
    }
    
    h5{
    
        text-align: left;
    
    }