/* Adicione este CSS ao seu arquivo de estilo (por exemplo, style.css) */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-gray-1);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-color: var(--color-gray-1); /* Cor de fundo geral */
}

.main-form {

    display: block;
    background-color: var(--color-gray-1);
    border-radius: 12px;
    width: 90%;
    padding: 40px; /* Reduzi o padding para ficar mais equilibrado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
}

form {
    text-align: center;
}


h1 {
    color: #333; /* Cor do texto principal */
    font-family: var(--font-heading);
}


h4 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    opacity: 0.3;
    color: #333; /* Cor do texto principal */

}

h5{

    text-align: left;
    color: #e74c3c;
    font-size: 12px;
    opacity: 0.3;

}

hr {
    border: 0.5px solid #ddd; /* Cor da linha separadora */
    color: #333;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

a{

  font-family: Arial, sans-serif; 
  text-decoration: none;
  color: var(--color-primary-dark); 


}

/* Estilos CSS adicionais */
.password-content {
  display: flex;
  align-items: center;
}

input[type="password"] {
  width: calc(100% - 30px);
  padding-right: 30px;
}

.password-toggle {
  position: relative;
  cursor: pointer;
  margin-left: -30px;
  z-index: 1;
}

.password-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 2px solid #333; /* Cor da borda do input padrÃ£o */
    border-radius: 8px;
    transition: border-color 0.3s ease; /* Adiciona uma transiÃ§Ã£o suave na cor da borda */
}

input:focus {
    border-color: #27ae60; /* Cor da borda quando o input estÃ¡ focado */
}



#id_email {
    /* Estilo especÃ­fico para o input com ID 'email' */
    border-color: var(--color-primary-dark); /* Cor da borda para o input com ID 'email' */
    font-weight: bold; /* Fonte em negrito para o input com ID 'email' */
}

button {

    background-color: var(--color-primary-dark); /* Nova cor para o botÃ£o, um verde suave */
    color: #fff; /* Cor do texto do botÃ£o */
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Adiciona uma transiÃ§Ã£o suave no tamanho do botÃ£o */
}

button:hover {
    transform: scale(1.05); /* Aumenta o tamanho do botÃ£o ao passar o mouse sobre ele */
}

/* Adicione media query para ajustar estilos para telas menores (mobile) */
@media screen and (max-width: 768px) {
    .formulario {
        width: 90%;
        padding: 20px;
    }

    h4 {
    
        text-align: center; /* Alinha os tÃ­tulos Ã  esquerda para telas menores */
    }
    
    h5{
    
        text-align: left;
    
    }