<div class="main-container">
    <div class="main-content main-content-list container">
  
        <div class="recipe recipe-list-item">
        
            <!-- IMAGE -->
            <div class="recipe-cover">
                <img src="https://via.placeholder.com/1280x720.png/000">
            </div>
            
            <!-- TITLE -->
            <div class="recipe-title-container">
                <h2>{{recepe.title}}</h2>
            </div>
            
            <!-- AUTHOR -->
            <div class="recipe-author">
                <span class="author-item">
                    <i class="fas fa-user"></i>
                    {{recepe.user.username}}
                </span>
                
                <span class="author-item">
                    <i class="fas fa-calendar-alt"></i>
                    {{recepe.date}}
                </span>
                
                <span class="author-item">
                    <i class="fas fa-layer-group"></i>
                    {{recepe.category}}
                </span>
            </div>
            
            <div class="recipe-content">
                <p>{{recepe.description}}</p>
            </div>
            
            <!-- METADATA AND USER INFO -->
            <div class="recipe-meta-container">
                <!-- TIME OF PREPARATION -->
                <div class="recipe-meta recipe-preparation">
                    <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i>Preparo</h3>
                    
                    <div class="recipe-meta-text">
                        {{recepe.time}}
                    </div>
                </div>
                
                <!-- NUMBERS OF PORTIONS -->
                <div class="recipe-meta recipe-servings">
                    <h3 class="recipe-meta-title">
                        <i class="fas fa-pizza-slice"></i>
                                                
                        Portions
                    </h3>
                    
                    <div class="recipe-meta-text">
                    
                    {% if recepe.portions < 2%}
                    
                    {{recepe.portions}} Portion
                    
                    {% endif %}
                    
                    {% if recepe.portions > 2%}
                    
                    {{recepe.portions}} Portions
                    
                    {% endif %}
                    
                    
                    </div>
                </div>
            </div>
            
            <footer class="recipe-footer">
                <a class="recipe-read-more button button-dark button-full-width" href="/receps/{{recepe.id}}/">
                    <i class="fas fa-eye"></i>
                    <span>Read more</span>
                </a>
            </footer>
                            
        </div>
      
    </div>
</div>