{% extends '../partials/extension.html' %}

{% block 'head' %}

  {% load static %}
  


  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <title>Login</title>
  
  <style>
  
    {% if messages %}
    
      #email{
      
        border-color: #e74c3c;
      
      }
                    
    {% endif%}
  
  </style>
  
{% endblock %}

{% block 'body' %}

  <div class="main-container">
  
    <div class="main-form">
    
      <form method="POST" action="{% url 'auth:login' %}">
    
        {%csrf_token%}
      
        <h1>Login</h1>
        
        <hr>
        
        <h4>email: </h4>
        
        {{ form.email }}
        
        {% if messages %}
        
          {% for message in messages%}
          <h5>( ! ) {{ message }}</h5>
                    
          {% endfor %}
        
        {% endif %}
        
        <hr>
        
        <h4>password: </h4>
        
        <input type="password" name="password" id="password" required minlength=8>
        
        <hr>
        
        <a href="{% url 'auth:register' %}">
        
          Don't have an account? Sign up 
          
        </a>
        
        
        <button id="button-register">Cadastrar </button>
                      
      </forms>
      
      
    </div>
  
  </div>
{% endblock %}