{% extends 'extension.html' %}
{% load i18n %}

{% block 'head' %}

  {% load static %}
  
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <title>Login</title>
  
  <style>
  
    {% if messages %}
    
      #email{
      
        border-color: #e74c3c;
      
      }
                    
    {% endif%}
  
  </style>
  
{% endblock %}

{% block 'body' %}

  <div class="main-container">
  
    <div class="main-form">
    
      <form method="POST" action="{% url 'auth:login' %}">
    
        {%csrf_token%}
      
        <h1>Login</h1>
        
        <hr>
        
        <h4>{% translate 'email' %}: </h4>
        
        <input type="email" name="email" id="emailInput" minlength="8" placeholder="exemplo@gmail.com" required>
        
        {% if messages %}
        
          {% for message in messages%}
          <h5>( ! ) {{ message }}</h5>
                    
          {% endfor %}
        
        {% endif %}
        
        <hr>
        
        <h4>{% translate 'password' %}: </h4>
        
        <div class="password-content">
          <input type="password" name="password" id="passwordInput" minlength="8" required>
          
          <i class="fas fa-eye password-toggle" onclick="togglePasswordVisibility()"></i>
          
        </div>
        
        <hr>
        
        <a href="{% url 'auth:register' %}">
        
          {% translate "Don't have an account? Sign up" %}
          
        </a>
        
        
        <button id="button-register">{% translate 'Login' %}</button>
                      
      </form>
      
      
    </div>
  
  </div>
  
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}