{% extends 'extension.html' %}

{% block 'head' %}
  {% load static %}
  <title>Sign Up</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style>
    /* Estilos CSS adicionais */
  </style>
{% endblock %}

{% block 'body' %}
  <div class="main-container">
    <div class="main-form">
      <form method="POST" action="{% url 'auth:register' %}">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <hr>
        <h4>Email:</h4>
        {{ form.email }}
        {% if messages %}
          {% for message in messages %}
            <h5>( ! ) {{ message }}</h5>
          {% endfor %}
        {% endif %}
        <h4>Password:</h4>
        <div class="password-content">
          <input type="password" name="password" id="passwordInput" minlength="8" required>
          <i class="fas fa-eye password-toggle" onclick="togglePasswordVisibility()"></i>
        </div>
        <h4>Repeat Password:</h4>
        <div class="password-content">
          <input type="password" name="password-repeat" id="passwordRepeatInput" minlength="8" required>
          <i class="fas fa-eye password-repeat-toggle" onclick="togglePasswordRepeatVisibility()"></i>
        </div>
        <a href="{% url 'auth:login' %}">Have an account? Log in</a>
        <button id="button-register">Register</button>
      </form>
    </div>
  </div>
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}