{% extends '../extensions/extension.html'%}

{% block 'head' %}


  {% load static %}
  
  <title>Sing Up</title>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <style>
    
    {% if status == '1' or status == '2' %}
    
      #email{
      
        border-color: #e74c3c;
      
      }
                    
    {% endif%}
    
    
  </style>
  
{% endblock %}

{% block 'body' %}

  <div class="main-container">
  
    <div class="main-form">
    
      <form method="POST" action="{% url 'register' %}">
      
        {%csrf_token%}               
        
        <h1> Sing up</h1>        
                                                   
        <hr>
        
        <h4>email: </h4>
        
        {{ form.email }}
                
        {% if status == '1' %}
        
          <h5> ( ! ) email is register</h5>
        
        {% endif%}
        
        {% if status == '2'%}
        
          <h5>( ! ) Passwords must be the same </h5>
        
        {% endif%}                
                                                    
        <hr>
        
        <h4>password: </h4>
        
        <input type="password" name="password" id="password" minlength="8" required>
        
        
 
        <h4>repeat password: </h4>  
             
        <input type="password" name="password-repeat" id="password-repeat" required>
        
        <hr>
        
        <a href="{% url 'login' %}">
        
          Have an account? Log in 
          
        </a>
        
        <br><br>
        
        <button id="button-register"> Cadastrar </button>
        
      </form>
      
    </div>
    
  </div>
  
{% endblock %}