{% extends 'extension.html' %}

{% block 'head' %}


  {% load static %}
  
  <title>Validation</title>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <style>
  
    {% if messages %}
  
      #token{
      
        border-color: #e74c3c;
      
      }
  
    {% endif %}
            
  </style>
  
{% endblock %}

{% block 'body' %}

  <div class="main-container">
  
    <div class="main-form">
    
      <form method="POST" action="{% url 'auth:validation' %}">
      
        {%csrf_token%}
        
        <h1> Verification </h1>        
                                                  
        <hr>
        
        <h4>confirmation code sent to {{email}} the token will expire in 30 minutes {{token}}</h4>
        
        <br><br>
        
        <input type='number' name='token', id='token' placeholder='999-999-999' minlength=8 maxlength=8 required>
        
        {% if messages %}
        
          {% for message in messages%}
          <h5>( ! ) {{ message }}</h5>
          
          {% endfor %}
        
        {% endif %}
  

                              
        <a href="{% url 'auth:resend' %}">
        
          Email not sent? Resend
          
        </a>
                        
        <button id="button-register">Register</button>
        
      </form>
      
    </div>
    
  </div>
  
{% endblock %}