{% extends 'extensions/extension.html' %}

{% block 'head' %}
  <title>Categories</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/receps.css' %}">
{% endblock %}

{% block 'body' %}
  <!-- HEADER -->
  {% include '../extensions/header_category.html' %}
  
  <!-- SEARCH-BOX -->
  {% include '../extensions/search_box.html' %}
  
  <!-- RECIPE-LIST-ITEM -->  
  {% for recipe in Receps %}
    {% include '../extensions/receps_list.html' %}
  {% endfor %}
  
  {% include '../extensions/pagination.html' %}
{% endblock %}