{% extends 'extension.html' %}

{% block 'head' %}

  <title>Categories</title>
  {% load static %}
  
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/search_box.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
  
{% endblock %}

{% block 'body' %}
 
  {% include 'global/partials/header_category.html' %}
  
  {% include 'global/partials/search_box.html' %}
   
  {% for recipe in recipes %}
  
    {% include 'global/partials/recipes.html' %}
    
  {% endfor %}
  
  {% include 'global/partials/pagination.html' %}
{% endblock %}