{% extends 'extension.html' %}

{% block 'head' %}
  <title>Receps</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/receps.css' %}">
{% endblock %}

{% block 'body' %}
  <!-- HEADER -->
  {% include '../partials/header.html' %}
  
  <!-- SEARCH-BOX -->
  {% include '../partials/search_box.html' %}
  
  <!-- RECIPE-LIST-ITEM -->  
  {% for recipe in Receps %}
    {% include '../partials/receps_list.html' %}
  {% endfor %}
  
  {% include '../partials/pagination.html' %}
{% endblock %}