{% extends 'extension.html' %}

{% block 'head' %}

  <title>Receps</title>
  
  {% load static %}
  
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/search_box.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  
  
  
  
  
{% endblock %}

{% block 'body' %}

  {% include 'global/partials/menu.html' %}
  
  {% include 'global/partials/header.html' %}
  
  {% include 'global/partials/search_box.html' %}
  
   
  {% for recipe in recipes %}
  
    {% include 'global/partials/recipes.html' %}
    
  {% endfor %}
  
  {% include 'global/partials/pagination.html' %}
{% endblock %}

{% block 'script' %}

  <script src="{% static 'js/menu.js' %}"></script>
  
{% endblock %}