{% extends '../partials/extension.html' %}

{% block 'head' %}

  {% load static %}
  
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block 'body' %}

  {% include '../partials/header_min.html'%}
  
  {% for recepe in Receps %}
  
    
    <div class="main-crud">
    
      <hr>
      
      <div class="crud-content">
      
        <span>{{recepe}}</span>
        
        <a class="crud-edit-button" href="{% url 'authors:edit' id=recepe.id %}">
        
          <i class="fas fa-edit"></i>
          
        </a>
        
        <form class="inline-form" method="POST" action="{%url 'authors:delete' id=recepe.id %}">
        
          {% csrf_token %}
        
          <button class="crud-trash-button"><i class="fas fa-trash"></i></button>
          
        </form>
             
              
      </div>
      
      <hr>
      
    </div>
  {% endfor %}
{% endblock %}