{% extends '../partials/extension.html' %}

{% block 'head' %}

  <title>Receps</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/receps.css' %}">
  
{% endblock %}

{% block 'body' %}

  <div class="main-profile">
  
      {% include 'partials/header_min.html'%}              
      </div>
    
      <div class="profile">
        
        <div class="cover-profile"></div>        
        <span class="author-user">{{ user_infos.username }}</span>
        
        {% if author.is_professional %}
        <i class="fas fa-check"></i>
        {% endif %}
                        
      </div>
      
      <div class="author-info">
      
        <h4>{{ author.name }}</h4>
        <h4>{{ author.bio }}</h4>
        
        <a href="{{ author.link }}">
        
          <i class="fas fa-link"></i>
          <span class="text-link">{{ author.link }}</span>
          
        </a>
      </div>
      
      <div class="profile-recipe">
      
        <hr>
        
        
        <span class="text-recipe">{{ total_revenue }}</span>
        
        <span class="text-recipe">Recipes</span>
        
        <hr>
        
      </div>
      
      {% for recipe in Receps %}
        {% include 'partials/receps_list.html' %}
      {% endfor %}
                                 
  </div>
{% endblock %}