{% extends 'extension.html' %}

{% block 'head' %}

  <title>Receps</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/header_min.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
  
{% endblock %}

{% block 'body' %}

  <div class="main-profile">
  
      {% include 'global/partials/header_min.html'%}              
      </div>
    
      <div class="profile">
        
        <div class="cover-profile"></div>        
        <span class="author-user">{{ user_infos.username }}</span>
        
        {% if author.is_professional %}
        <i class="fas fa-check"></i>
        {% endif %}
                        
      </div>
      
      <div class="author-info">
      
        {% if author.name %}
        
          <h4>{{ author.name }}</h4>
          
        {% endif %}
        
        {% if author.bio %}
        
          <h4>{{ author.bio }}</h4>
          
        {% endif %}
        
        {% if author.link %}
        
          <a href="{{ author.link }}">
            
            <i class="fas fa-link"></i>
              <span class="text-link">{{ author.link }}</span>
              
          </a>
            
        {% endif %}
      </div>
      
      
      {% if user.id == author.id %}
      <br>
      <div class="author-action-bar">
      
        <a class="button-action-bar" href="{% url 'authors:profile-edit' %}">
        
          Edit profile
        </a>
        
        
        <button class="button-action-bar">
        
          Share profile 
        </button>
        
      </div>
      <br>
      {% endif %}
      
      
      <div class="profile-recipe">
      
        <hr>
        
        
        <span class="text-recipe">{{ total_revenue }}</span>
        
        <span class="text-recipe">Recipes</span>
        
        <hr>
        
      </div>
      
      {% for recipe in recipes %}
        {% include 'global/partials/recipes.html' %}
      {% endfor %}
                                 
  </div>
{% endblock %}