<header class="main-header-container">

  <header class="main-header">

    <a class="main-logo" href="{% url 'receps' %}">
      <h1>
                   
        <i class="fas fa-utensils"></i>
        
        {% if recepe.category %}                  
          <span class="main-logo-text">recepe.category</span>
        
        {% else%}
        
          <span class="main-logo-text">Receps</span>
        
        {% endif %}                              
      </h1>
      
    </a>  
     
  </header>
      
</header>